################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplicationDemo/bin/Debug/netcoreapp3.1
/WebApplicationDemo/.vs/WebApplicationDemo
/WebApplicationDemo/obj
