@{
    ViewBag.Title = "File Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{

    <!--CSS-->
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/theme.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/elfinder/css/elfinder.full.css" />
    <link rel="stylesheet" href="~/lib/elfinder/css/theme.min.css" />

    <!--Theme-->
    <link href="~/css/elfinderTheme/windows-10/css/theme.css" rel="stylesheet" />
}


<div class="col-sm-12">
    <h2>File Manager</h2><br /><br />
    <div id="elfinder" style="height: 724px; width: 1627.25px;"></div>
</div>

@section Footer {

    <!--Js UI-->
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>

    <!--Js elfinder-->
    <script src="~/lib/elfinder/js/elfinder.full.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var myCommands = elFinder.prototype._options.commands;

            // Not yet implemented commands in elFinder.NetCore
            var disabled = ['callback', 'chmod', 'editor', 'netmount', 'ping', 'search', 'zipdl', 'help'];
            elFinder.prototype.i18.en.messages.TextArea = "Edit";

            $.each(disabled, function (i, cmd) {
                (idx = $.inArray(cmd, myCommands)) !== -1 && myCommands.splice(idx, 1);
            });

            var uiOptions = {
                baseUrl: "/lib/elfinder/",
                url: "/demo-file-system/connector",
                rememberLastDir: false,
                commands: myCommands,
                lang: 'en',
                uiOptions: {
                    toolbar: [
                        ['back', 'forward'],
                        ['reload'],
                        ['home', 'up'],
                        ['mkdir', 'mkfile', 'upload'],
                        ['open', 'download'],
                        ['undo', 'redo'],
                        ['info'],
                        ['quicklook'],
                        ['copy', 'cut', 'paste'],
                        ['rm'],
                        ['duplicate', 'rename', 'edit'],
                        ['selectall', 'selectnone', 'selectinvert'],
                        ['view', 'sort'],
                        ['search'],
                    ],

                    contextmenu: {
                        // navbarfolder menu
                        navbar: ['open', '|', 'copy', 'cut', 'paste', 'duplicate', '|', 'rm', '|', 'info'],

                        // current directory menu
                        cwd: ['reload', 'back', '|', 'upload', 'mkdir', 'mkfile', 'paste', '|', 'info'],

                        // current directory file menu
                        files: [
                            'getfile', '|', 'open', 'quicklook', '|', 'download', '|', 'copy', 'cut', 'paste', 'duplicate', '|',
                            'rm', '|', 'edit', 'rename', 'resize', '|', 'archive', 'extract', '|', 'info'
                        ]
                    },

                    // directories tree options
                    tree: {
                        // expand current root on init
                        openRootOnLoad: true,
                        // auto load current dir parents
                        syncTree: true
                    },

                    // navbar options
                    navbar: {
                        minWidth: 150,
                        maxWidth: 500
                    },

                    height: 500,

                    // current working directory options
                    cwd: {
                        // display parent directory in listing as ".."
                        oldSchool: false
                    }
                },
                //onlyMimes: ["image", "text/plain"] // Get files of requested mime types only
                lang: 'en',
            };
            $('#elfinder').elfinder(uiOptions).elfinder('instance');
        });
    </script>
}