@{
    ViewData["Title"] = "Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section BootstrapJs{
    <script src="~/bootstrap-5.1.3/js/bootstrap.js"></script>
}*@

<div class="col-md-12 text-center">
    <div style="text-align:center; margin:190px">
        <p style="font-weight: bold;font-size: xx-large;color: #0092e0">
            Welcome to my feature
        </p>

        <a type="button" id="" asp-area="" asp-controller="StepMaker" asp-action="Main" class="btn btn-primary" style="background-color: #0092e0; border-color:#0092e0">Get Started</a>
    </div>
</div>
